@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  font-family: 'Comfortaa';
}

body {
  background: #ebebeb;
  height: 6000px;
}

header {
  background: #333;
  width: 75%;
  height: 5vh;
  text-align: center;
  margin-left: 12.5%;
  border-radius: 60px;
  border: 3px solid silver;
  border-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  line-height: 5vh;
}

a {
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 200px;
  color: white;
  font-size: 20px;
  text-decoration: none;
}

a:hover {
  color: #A9A9A9;
}
